# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    env:
      platform: aws
      region: us-west-1
      account: 123456789

      username: ${{secrets.USERNAME}}
      password: ${{secrets.PASSWORD}}


    runs-on: ubuntu-latest

    steps:
      - name: 'Mostrar Mensaje'
        run: echo 'Prueba'
        
      - name: 'Mostrar variables de entorno'
        run: |
          echo 'La plataforma es: ${{env.platform}}' 
          echo 'la región es: ${{env.region}}'
          echo 'y la account es: ${{env.account}}'
          echo 'este es el valor de username : ${{env.username}}'
          echo 'este es el valor de password : ${{env.password}}'
      
      - name: 'MOSTRANDO VALORES SOLO SI EL USUARIO ES CORRECTO'
        if: ${{env.username != '' && env.password != '' }}
        run: |
          echo 'existe usuario y contraseña'
      - name: 'Mostrando variables por defecto'
        run: |
          echo  'Evento: ${{toJSON(github.event)}}'
          echo  'Github_ACTOR: ${{github.actor}}'
          echo  'GITHUB_REPOSITORY: ${{github.repository}}'
